@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
:root
{
    --prim:#ffeaee;
    --seco: #9abca7;
    --thir: #4b543b;
    --four:#7699d4;
    --five:#240145;
}
body 
{
    --bs-body-bg: var(--prim);
    display: flex;
    flex-direction: column;
    
}

/* Index styles */

.logo-image
{
    height: 300px !important;
    width: auto;
    justify-content: center;
}

