// redefined variables go here:
$position-values: (
    1: 1%,
);

// import functions and variables
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

@keyframes gradient-wave {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 80%;
    }
}

body {
    height: 150vh;
    background: linear-gradient(45deg,
            #272525,
            #a3a4bd,
            #000d3d,
            #003ebb);
    background-size: 400% 400%;
    animation: gradient-wave 30s infinite alternate linear;
    --bs-body-font-family: "Rubik", sans-serif;
}

.my-containers {
    margin: auto;
    background: rgba(255, 255, 255, 0.48);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.3px);
    -webkit-backdrop-filter: blur(9.3px);
    border: 1px solid rgba(255, 255, 255, 0.37);
    width: 90%;
    border-radius: 20px;
    margin-top: 30px;
}

.navbar-nav {
    position: relative;
    overflow: hidden;
}

.navbar-nav:hover::after {
    width: 100%;
}

.navbar-nav::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #f1936e;
    transition: width 0.5s ease;
}

.btn {
    transition: transform 0.3s ease;
    transition: box-shadow 0.3s ease;
}

.btn:hover {
    transform: scale(1.2);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

#myInput {
    position: fixed;
    bottom: 0;
    right: 0;
}

#myInput:hover {
    box-shadow: 0 0 20px rgba(237, 234, 234, 0.3);
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-45px);
    }

    60% {
        transform: translateY(-20px);
    }
}

.bounce {
    animation-name: bounce;
}

.animate {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 3;
}

.navbar {
    box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
}

// Main Theme
$custom-theme-colors: (
    "altwhite": #ffffff,
    "altlight": #848484,
    "altgray": #5a5a5a,
    "altblack": #000000,
    "altpurple": #021629,
);

.txt-shadow {
    text-shadow: black -1px 1px 2px;
}

.contact {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 1px lightgrey solid;
    border-radius: 7px;
    width: 100%;
    margin-bottom: 2px;
    flex-wrap: wrap;
    font-size: large;
}

#myInput {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.pageButtons {
    justify-content: space-between;
}

.personalLogo {
    aspect-ratio: 1;
    width: 100%;
    border-radius: 50%;
    transition: transform 0.3s ease;
    object-fit: fill;
}

.personalLogo:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.edit-del-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

// merge custom theme with original
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";